<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purtemonium - 404</title>
</head>
<body>
    <h1>Whoops! ¯\_(ツ)_/¯</h1>

    <p>It looks like the page that you are trying to get to does not exist. Try going to the <a href="../">Main Page.</a></p>
</body>
</html>