<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purtemonium - Posting Rules</title>
</head>
<body>
    <h1>Posting Rules</h1>

    <p>I have to add these so you people don't go out-of-control. You can post anything EXCEPT: </p>
    <ol>
        <li>Bullying towards an individual</li>
        <li>Racism, Sexism, and Homophobia</li>
        <li>Doxxing</li>
        <li>Anthropomorpic (Furry shit)/Zoophillia or Pedophillia</li>
        <li>Advertisement and Self Promotion</li>
    </ol>
    <p>Other than that, do as you please. Not following the rules can lead to a permanent ban and blacklist from the site.</p>
</body>
</html>